/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;800&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

* {
    padding: 0;
    margin: 0;
}


.colors {
    color: #000;
    color: #191919;
    color: #191919cb;
    color: #886F4A;
    color: #f1e7d671;
    color: #f1e7d6bb;
}

body {
    background: #191919;
}

.bg-header {
    height: 100px;
    box-shadow: 0px 0px 7px -2px white !important;
    background: linear-gradient(to top, #191919cb, #000 ) !important;
}

.bg-header button {
    background: #ffffff;
}

.tag-font-logo {
    font-family: "Anton", sans-serif;
    font-size: 30px;
    color: #886F4A !important;
}

.nav-link {
    font-size: 18px;
    font-family: "Anton", sans-serif;
    color: #886F4A !important;
}

.navbar-toggler {
    background: #886F4A !important;
}

.home-page {
    background: #191919cb;
    display: flex;
    align-items: center;
}


img {
    margin-top: 8px;
    border-radius: 3px;
}

.footer-page {
    background: #191919;
}

.footer-rights {
    font-size: 12px;
    color: #886F4A
}

.footer-link {
    font-family: "Anton", sans-serif;
    text-decoration: none;
    font-size: 14px;
    color: #f1e7d671;
}

@media only screen and (max-device-width: 900px) {
    .bg-header, 
    .home-page { 
        width:100%; 
    }
}

@media only screen and (max-device-width: 900px) {
    .bg-header,
    .home-page,
    .footer-page {
         width:600px; 
    }
}

@media only screen and (max-device-width: 700px) {
    .bg-header,
    .home-page,
    .footer-page {
         width:400px; 
    }
}